<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <title>Search Results</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <%- include('errors') %>
    <h1>Search Results</h1>
    <div>
        <h2>Movies</h2>
        <ul>
            <% if (results) { %>
            <% results.movies.forEach(movie => { %>
                <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
    <div>
        <h2>Actors</h2>
        <ul>
            <% if (results) { %>
            <% results.actors.forEach(actor => { %>
                <li><a href="/actors/<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></a></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
    <div>
        <h2>Directors</h2>
        <ul>
            <% if (results) { %>
            <% results.directors.forEach(director => { %>
                <li><a href="/directors/<%= director.id %>"><%= director.first_name %> <%= director.last_name %></a></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
    <div>
        <h2>Genres</h2>
        <ul>
            <% if (results) { %>
            <% results.genres.forEach(genre => { %>
                <li><a href="/genres/<%= genre.id %>"><%= genre.name %></a></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
</body>
</html>