<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actors</title>
    <link rel="icon" href="/public/favicon.png" type="image/png">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1>Actors List</h1>
    <%- include('partials/errors') %>
    <form action="/actors" method="POST" enctype="multipart/form-data">
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name">
        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <label for="birth_date"> Birth Date: </label>
        <input type="date" id="birth_date" name="birth_date">

        <label for="death_date"> Death Date: (leave it empty if alive)</label>
        <input type="date" id="death_date" name="death_date">

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo">
        <button type="submit">Add Actor</button>
    </form>

    <div>
        <%- include('partials/sortFilter', { 
            action: '/actors', 
            sort_by: sort_by, 
            order: order, 
            filter: filter,
            sortOptions: [
            { value: 'full_name', text: 'Name' }, 
            { value: 'age', text: 'Age' },
            ],
        filterOptions: [
            'Male',
            'Female'
        ]
            
        }) %>
    </div>

    <ul>
        <% actors.forEach(actor => { %>
            <li><%= actor.first_name %> <%= actor.last_name %>
                <%= actor.gender %>
                <img src="<%= actor.photo_url ? actor.photo_url : '/public/images/default.jpg' %>" alt="actor photo" style="width: 100px; height: 100px;">
                <a href="/actors/<%= actor.id %>">View</a>
            </li>
        <% }) %>
    </ul>

    <%- include('partials/pagination', {
        action: '/actors',
        page: page,
        pageSize: pageSize,
        sort_by: sort_by,
        order: order,
        filter: filter,
        totalItems: totalActors
    }) %>

</body>
</html>