<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor</title>
</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1> <%= actor.first_name %> <%= actor.last_name %></h1>
    <h2> <%= actor.gender? actor.gender : 'Unkown' %></h2>
    <h3> <%= actor.birth_date ? new Date(actor.birth_date).toDateString() :'Unkown' %></h3>
    <h3> <%= actor.death_date ? `Died at age ${actor.age} on ${new Date(actor.death_date).toDateString()}`: actor.age%></h3>
    <img src="<%= actor.photo_url ? actor.photo_url : '/public/images/default.jpg' %>" alt="actor photo" style="width: 100px; height: 100px;">
    <a href="/actors/<%= actor.id %>/update">Update</a>
    <form action="/actors/<%= actor.id %>/delete" method="POST">
        <button type="button" onclick="showPasswordPrompt()">Delete</button>
        <%- include('partials/passwordPrompt') %>
    </form>
    <h2>List of movies with this actor below: </h2>
    <ul>
        <% movies && movies.forEach(movie => { %>
            <a href="/movies/<%= movie.movie_id %>">
                <li>
                    <%= movie.title %>
                    <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" style="width: 100px; height: 100px;">
                </li>
            </a>
        <% }) %>
    </ul>

    <script>
        function showPasswordPrompt() {
       document.getElementById('passwordPrompt').style.display = 'block';
   }

   </script>
</body>
</html>