<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <h1> <%= director.first_name %> <%= director.last_name %></h1>
    <h2> <%= director.gender? director.gender : 'Unkown' %></h2>
    <h3> <%= director.birth_date ? new Date(director.birth_date).toDateString() :'Unkown' %></h3>
    <h3> <%= director.death_date ? `Died at age ${director.age} on ${new Date(director.death_date).toDateString()}`: director.age%></h3>
    <img src="<%= director.photo_url ? director.photo_url : '/public/images/default.jpg' %>" alt="director photo" style="width: 100px; height: 100px;">
    <a href="/directors/<%= director.id %>/update">Update</a>
    <form action="/directors/<%= director.id %>/delete" method="POST">
        <!-- <button type="submit">Delete</button> -->
        <button type="button" onclick="showPasswordPrompt()">Delete</button>
        <%- include('passwordPrompt') %>
    </form>
    <h2>List of movies with directed below: </h2>
    <ul>
        <% movies && movies.forEach(movie => { %>
            <a href="/movies/<%= movie.movie_id %>">
                <li>
                    <%= movie.title %>
                    <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" style="width: 100px; height: 100px;">
                </li>
            </a>
        <% }) %>
    </ul>
    <script>
        function showPasswordPrompt() {
            document.getElementById('passwordPrompt').style.display = 'block';
        }
    </script>
</body>
</html>