<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directors</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1>Directors List</h1>
    <%- include('partials/errors') %>
    <form action="/directors" method="POST" enctype="multipart/form-data">
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name">
        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <label for="birth_date"> Birth Date: </label>
        <input type="date" id="birth_date" name="birth_date">

        <label for="death_date"> Death Date: (leave it empty if alive)</label> 
        <input type="date" id="death_date" name="death_date">

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo">
        <button type="submit">Add Director</button>
        </form>

        <div>
            <%- include('partials/sortFilter', { 
                action: '/directors', 
                sort_by: sort_by, 
                order: order, 
                filter: filter,
                sortOptions: [
                { value: 'full_name', text: 'Name' }, 
                { value: 'age', text: 'Age' },
                ],
            filterOptions: [
                'Male',
                'Female'
            ]
                
            }) %>
        </div>
    <ul>
        <% directors.forEach(director => { %>
            <li><%= director.first_name %> <%= director.last_name %>
                <%= director.gender %>
                <img src="<%= director.photo_url ? director.photo_url : '/public/images/default.jpg' %>" alt="director photo" style="width: 100px; height: 100px;">
                <a href="/directors/<%= director.id %>">View</a>
            </li>
        <% }) %>

        <%- include('partials/pagination', {
            action: '/directors',
            page: page,
            pageSize: pageSize,
            sort_by: sort_by,
            order: order,
            filter: filter,
            totalItems: totalDirectors
        }) %>
    </ul>
</body>
</html>