<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directors</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="../public/js/toggle-add.js"></script>
    <script src="../public/js/addItem.js"></script>
    <script src="../public/js/dark-mode-toggle.js"></script>
</head>
<body class="flex flex-col h-full bg-background dark:bg-background-darkBG">
    <%- include('partials/navbar', {links: links}) %>
    
    <main class="flex-1 flex items-center flex-col p-2 m-2">
        <%- include('partials/errors') %>
        <%- include('partials/addBtn')%>
        <form action="/directors" method="POST" enctype="multipart/form-data" class="add-form <%= locals.formOpen ? '' : 'hidden' %> 
            flex flex-col flex-wrap justify-between items-start m-2 gap-3">
            <div>
                <label for="f_name" class="inputLabel">First Name:*</label>
                <input type="text" id="f_name" name="f_name" class="customInput">
            </div>
            <div>
                <label for="l_name" class="inputLabel">Last Name:*</label>
                <input type="text" id="l_name" name="l_name" class="customInput">
            </div>
            <div>
                <label for="gender" class="inputLabel">Gender:</label>
                <select id="gender" name="gender" class="customInput">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div>
                <label for="birth_date" class="inputLabel"> Birth Date: </label>
                <input type="date" id="birth_date" name="birth_date" class="customInput">
            </div>
            <div>
                <label for="death_date" class="inputLabel"> Death Date: (leave it empty if alive)</label> 
                <input type="date" id="death_date" name="death_date" class="customInput">
            </div>
            <div>
                <label for="photo" class="inputLabel">Photo:</label class="customInput">
                <input type="file" id="photo" name="photo" class="file:mr-4 file:rounded-full file:border-0
                file:bg-orange-200 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-black
                 hover:file:bg-orange-300 dark:text-white">
            </div>  
            <button type="submit" class="customBtn self-center">Add Director</button>
            </form>

            <div>
                <%- include('partials/sortFilter', { 
                    action: '/directors', 
                    sort_by: sort_by, 
                    order: order, 
                    filter: filter,
                    sortOptions: [
                    { value: 'full_name', text: 'Name' }, 
                    { value: 'age', text: 'Age' },
                    ],
                filterOptions: [
                    'Male',
                    'Female'
                ]
                    
                }) %>
            </div>
            <h1 class="title">Directors List</h1>
        <!-- <ul>
            <% directors.forEach(director => { %>
                <li><%= director.first_name %> <%= director.last_name %>
                    <%= director.gender %>
                    <img src="<%= director.photo_url ? director.photo_url : '/public/images/default.jpg' %>" alt="director photo" style="width: 100px; height: 100px;">
                    <a href="/directors/<%= director.id %>">View</a>
                </li>
            <% }) %>
    
           
        </ul> -->
        <div class="w-full h-full flex flex-col items-center justify-between">
            <div class="w-full">
                <%- include('partials/peopleList', {
                    elements: directors,
                    link: 'directors'
                }) %>
            </div>
        </div>
        <%- include('partials/pagination', {
            action: '/directors',
            page: page,
            pageSize: pageSize,
            sort_by: sort_by,
            order: order,
            filter: filter,
            totalItems: totalDirectors
        }) %>
        </main>
        <%- include('partials/footer') %>
</body>
</html>