<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    <link rel="icon" href="/public/favicon.png" type="image/png">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1> <%= genre.name %></h1>
    <a href="/categories/<%= genre.id %>/update">Update</a>
    
        <!-- <button type="submit">Update</button> -->

    <form action="/categories/<%= genre.id %>/delete" method="POST">
        <!-- <button type="submit">Delete</button> -->
            <button type="button" onclick="showPasswordPrompt()">Delete</button>
            <%- include('partials/passwordPrompt') %>
    </form>
    <h2>List of movies with this genre below: </h2>

    <div>
        <%- include('partials/sortFilter', { 
            action: `/categories/${genre.id}`, 
            sort_by: sort_by, 
            order: order, 
            filter: filter,
            sortOptions: [
                {value: 'title', text:'Title'},
                {value: 'year', text: 'Year'}
            ],
            filterOptions: years   
        }) %>
    </div>

    <ul>
        <% movies && movies.forEach(movie => { %>
            <a href="/movies/<%= movie.movie_id %>">
                <li>
                    <%= movie.title %>
                    <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" style="width: 100px; height: 100px;">
                </li>
            </a>
        <% }) %>

        <%- include('partials/pagination', {
            action: `/categories/${genre.id}`,
            page: page,
            pageSize: pageSize,
            sort_by: sort_by,
            order: order,
            filter: filter,
            totalItems: totalMovies
        }) %>

    </ul>

    <script src="/public/js/showPasswordPrompt.js"></script>
</body>
</html>