<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="../public/js/dark-mode-toggle.js"></script>
</head>
<body class="flex flex-col h-full bg-background dark:bg-background-darkBG">
    <%- include('partials/navbar', {links: links}) %>
    <main class="flex-1 flex  items-center flex-col p-2 m-2 ">
        <h1 class="title"> <%= genre.name %></h1>
        <div class="w-full justify-center items-center">
            <%- include('partials/updateDelete', { 
                action: `/categories/${genre.id}` 
            }) %>
        </div>  
        <div>
            <%- include('partials/sortFilter', { 
                action: `/categories/${genre.id}`, 
                sort_by: sort_by, 
                order: order, 
                filter: filter,
                sortOptions: [
                    {value: 'title', text:'Title'},
                    {value: 'year', text: 'Year'}
                ],
                filterOptions: years   
            }) %>
        </div>
        <div class="w-full h-full flex flex-col items-center justify-between">
            <div class="w-full">
                <%- include ('partials/moviesList', {
                    items: movies,
                    link: '/movies',
                    imgSrc: 'photo_url',
                    title: 'title',
                    
                }) %>
            </div>
           
            <div class="pt-4">
                <%- include('partials/pagination', {
                    action: `/categories/${genre.id}`,
                    page: page,
                    pageSize: pageSize,
                    sort_by: sort_by,
                    order: order,
                    filter: filter,
                    totalItems: totalMovies
                }) %>
            </div> 
        </div>
           
        <!-- </ul> -->
    </main>  
   <%- include('partials/footer') %>
    <script src="/public/js/showPasswordPrompt.js"></script>
</body>
</html>