<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1> <%= movie.title %></h1>
    <h5> <%= movie.year ? movie.year : 'Unkown' %></h5>
    <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" style="width: 100px; height: 100px;">
    <h6> <%= movie.description ? movie.description : "No Description available"  %></h6>
    <h6> Genres:</h6>
    <ul>
        <% genres && genres.forEach(genre => { %>
            <a href="/categories/<%= genre.genre_id %>"><li><%= genre.name %></li></a>
        <% }) %>
    </ul>
    <h6> Actors: </h6>
    <ul>
        <% actors && actors.forEach(actor => { %>
            <a href="/actors/<%= actor.actor_id %>"><li><%= actor.first_name %> <%= actor.last_name %></li></a>
        <% }) %>
    </ul>

    <h6> Directors: </h6>
    <ul>
        <% directors && directors.forEach(director => { %>
            <a href="/directors/<%= director.director_id %>"><li><%= director.first_name %> <%= director.last_name %></li></a>
        <% }) %>
    </ul>

    <a href="/movies/<%= movie.id %>/update">Update</a>
    <form action="/movies/<%= movie.id %>/delete" method="POST">
         <button type="button" onclick="showPasswordPrompt()">Delete</button>
         <%- include('partials/passwordPrompt') %>
    </form>
    <script src="/public/js/showPasswordPrompt.js"></script>
</body>
</html>