<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="../public/js/dark-mode-toggle.js"></script>
    <script src="/public/js/addItem.js"></script>
    <script src="/public/js/toggle-add.js"></script>
</head>
<body class="flex flex-col h-full bg-background dark:bg-background-darkBG">
    <%- include('partials/navbar', {links: links}) %>
    <main class="flex-1 flex items-center flex-col p-2 m-2 ">
        <%- include('partials/errors') %>
        <%- include('partials/addBtn')%>
        <form action="/movies" method="POST" enctype="multipart/form-data" class="add-form <%= locals.formOpen ? '' : 'hidden' %>
            flex flex-col flex-wrap justify-between items-center m-2 gap-3">
            <div>
                <label for="title" class="inputLabel">Title:*</label>
                <input type="text" id="title" name="title" class="customInput">
            </div>
            <div>   
                <label for="year" class="inputLabel">Year:*</label>
                <input type="number" id="year" name="year" class="customInput">
            </div>
            <div>
                <label for="genre" class="inputLabel">Genre:</label>
                <input type="text" id="genre-search" list="genre-list" placeholder="Search for genres..." class="customInput">
                <datalist id="genre-list">
                    <% genres.forEach(genre => { %>
                        <option value="<%= genre.name %>" data-id="<%= genre.id %>"><%= genre.name %></option>
                    <% }) %>
                </datalist>
                <button type="button" onclick="addItem('genre-search', 'selected-genres', 'genre-list', 'genre[]')">
                    <i class="fa-solid fa-circle-plus text-primary-dark hover:text-secondary ml-2"></i>
                </button>
                <ul id="selected-genres" class=""></ul>
            </div>
            <div>
                <label for="actors" class="inputLabel">Actors:</label>
                <input type="text" id="actor-search" list="actor-list" placeholder="Search for actors..." class="customInput">
                <datalist id="actor-list">
                    <% actors.forEach(actor => { %>
                        <option value="<%= actor.first_name %> <%= actor.last_name %>" data-id="<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></option>
                    <% }) %>
                </datalist>
                <button type="button" onclick="addItem('actor-search', 'selected-actors', 'actor-list', 'actors[]')">
                    <i class="fa-solid fa-circle-plus text-primary-dark hover:text-secondary ml-2"></i>
                </button>
                <ul id="selected-actors" class=""></ul>
            </div>
            <div>
                <label for="directors" class="inputLabel">Directors:</label>
                <input type="text" id="director-search" list="director-list" placeholder="Search for directors..." class="customInput">
                <datalist id="director-list">
                    <% directors.forEach(director => { %>
                        <option value="<%= director.first_name %> <%= director.last_name %>" data-id="<%= director.id %>"><%= director.first_name %> <%= director.last_name %></option>
                    <% }) %>
                </datalist>
                <button type="button" onclick="addItem('director-search', 'selected-directors', 'director-list', 'directors[]')">
                    <i class="fa-solid fa-circle-plus text-primary-dark hover:text-secondary ml-2"></i>
                </button>
                <ul id="selected-directors" class=""></ul>
            </div>
            <div class="flex flex-wrap justify-center items-center">
                <label for="description" class="inputLabel">Description:</label>
                <textarea id="description" name="description" rows="\5" cols="50" class="customInput"></textarea>
            </div>
            <div>
                <label for="poster" class="inputLabel">Poster:</label>
                <input type="file" id="poster" name="photo" class="file:mr-4 file:rounded-full file:border-0
                 file:bg-orange-200 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-black
                  hover:file:bg-orange-300 dark:text-white">   
            </div> 
            <button type="submit" class="customBtn">Add Movie</button>
            </form>
        <div>
            <%- include('partials/sortFilter', { 
                action: '/movies', 
                sort_by: sort_by, 
                order: order, 
                filter: filter,
                sortOptions: [
                    {value: 'title', text:'Title'},
                    {value: 'year', text: 'Year'}
                ],
                filterOptions: years
                   
                
            }) %>
        </div>
        <h1 class="title">Movies List</h1>
    <!-- <ul>
        <% movies.forEach(movie => { %>
            <li><%= movie.title %> (<%= movie.year ? movie.year : 'Unkown' %>)
                <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" style="width: 100px; height: 100px;">
                <a href="/movies/<%= movie.id %>">View</a>
            </li>
        <% }) %>
    </ul> -->

    <div class="w-full h-full flex flex-col items-center justify-between">
        <div class="w-full">
            <%- include ('partials/moviesList', {
                items: movies,
                link: '/movies',
                imgSrc: 'photo_url',
                title: 'title',
               
            }) %>
        </div>
        </div>
    <%- include('partials/pagination', {
        action: '/movies',
        page: page,
        pageSize: pageSize,
        sort_by: sort_by,
        order: order,
        filter: filter,
        totalItems: totalMovies
    }) %>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>


