<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Actor</title>
    <link rel="icon" href="/public/favicon.png" type="image/png">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1>Update Actor</h1>
    <%- include('partials/errors') %>
    <form action="/actors/<%= actor.id %>/update" method="POST" enctype="multipart/form-data">
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name" value="<%= actor.first_name %>">
        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name" value="<%= actor.last_name %>">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male" <%= actor.gender === 'Male' ? 'selected' : '' %>>Male</option>
            <option value="Female" <%= actor.gender === 'Female' ? 'selected' : '' %>>Female</option>
        </select>
        <label for="birth_date"> Birth Date: </label>
        <input type="date" id="birth_date" name="birth_date" value="<%= actor.birth_date ? actor.birth_date.toISOString().split('T')[0] : '' %>">

        <label for="death_date"> Death Date: (leave it empty if alive)</label>
        <input type="date" id="death_date" name="death_date" value="<%= actor.death_date ? actor.death_date.toISOString().split('T')[0] : '' %>">
        
        <label for="photo">Photo:</label>
        <img id="photoPreview"
        src="<%= actor.photo_url ? actor.photo_url : '/public/images/default.jpg' %>" 
        alt="Actor's Photo" 
        width="100"
        height="100"
        />
        <input type="file" id="photo" name="photo">
        <button type="button" onclick="showPasswordPrompt()">Update Movie</button>
        <%- include('partials/passwordPrompt') %>
    </form>
    <script src="/public/js/photoPreview.js"></script>
    <script src="/public/js/showPasswordPrompt.js"></script>
</body>
</html>