<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Genre</title>
</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1>Update Genre</h1>
    <%- include('./partials/errors') %>
    <form action="/categories/<%= genre.id %>/update" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= genre.name %>">
        <!-- <button type="submit">Update Genre</button> -->
        <button type="button" onclick="showPasswordPrompt()">Update Genre</button>
        <%- include('partials/passwordPrompt') %>
    </form>
<script>
    function showPasswordPrompt() {
        document.getElementById('passwordPrompt').style.display = 'block';
    }
</script>
</body>
</html>